<%- include ('includes/navbar') %> 
<div class='container'>
    <div class = "jumbotron">
        <h1 class="text-center text-primary">Welcome To The local Library</h1>
        <h5>This is a local library system. This includes the books avialable in the library. You can login to revies the books you have issued.
            You cqn also see the books avialable in the Library for you to issue.<br>
        </h5>
        <center><h4>Created By <strong>Rohan Raj Kansal</strong></h4></center>
    </div>    
</div>


          